@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: #efefef;
}

.letra-roja {
    color: #9e1c20;
}

.fondo-rojo {
    background-color: #9e1c20;
}

.subrayado {
    text-decoration: underline white 3px;
    text-underline-offset: 5px;
}

.subrayado-rojo {
    text-decoration: underline #9e1c20 6px;
    text-underline-offset: 5px;
}

.test {
    border: 1px solid green;
}

.fondo-landing {
    background-image: url('/Landing.webp');
    background-size: contain;
    /* Hasta 1350px */
    height: 675px;
    background-repeat: no-repeat;
}

.fondo-alquiler-zona {
    background-image: url('/alquiler-zona.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fondo-terrenos-venta {
    background-image: url('/terrenos-venta.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fondo-comprar-zona {
    background-image: url('/comprar-zona.png');
    background-size: cover;
    background-position: start;
    background-repeat: no-repeat;
}

.faqs{
    border-bottom: 1px solid #cfcfcf;
}
.primer-faqs{
    border-bottom: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
    padding-top: 40px;;
}

iframe a img{
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

.carousel{
    min-width: 90%;
    max-width: 1200px !important;
}